<template>
  <div class="modal" style="width: 28%">
    <div class="modal-content">
        <h4>Создание воронки</h4>
        <form class="form col s12 offset-s1" @submit.prevent="submitHandler">
          <div class="input-field">
            <input
                id="name"
                type="text"
                v-model="pipeline.name"
                :class="{invalid: ($v.pipeline.name.$dirty && !$v.pipeline.name.required)}"
            >
            <label for="name" :class="{active: this.pipeline.name}">Название</label>
            <small class="helper-text invalid" v-if="$v.pipeline.name.$dirty && !$v.pipeline.name.required">Название не должно быть пустым!</small>
          </div>

          <div class="input-field">
            <input
                id="description"
                type="text"
                v-model="pipeline.description"
                :class="{invalid: ($v.pipeline.description.$dirty && !$v.pipeline.description.required), active: this.pipeline.description}"
            >
            <label for="description" :class="{active: this.pipeline.description}">Описание</label>
            <small class="helper-text invalid" v-if="$v.pipeline.description.$dirty && !$v.pipeline.description.required">Описание не должно быть пустым!</small>
          </div>

          <div class="input-field">
            <button class="btn waves-effect waves-light" type="submit">
              Сохранить
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>
</template>

<script>
import M from 'materialize-css/dist/js/materialize.min'
import {required} from "vuelidate/lib/validators";

export default {
  data: () => ({
    modal: null,
    pipeline: {
      name: '',
      description: ''
    },
  }),
  validations: {
    pipeline: {
      name: {
        required
      },
      description: {
        required
      }
    }
  },
  name: "AddPipelineModal",
  methods: {
    open() {
      this.modal.open()
    },
    close() {
      this.pipeline.name = ''
      this.pipeline.description = ''
      this.modal.close()
    },
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      const formData = {
        name: this.pipeline.name,
        description: this.pipeline.description
      }

      await this.$store.dispatch('createPipeline', formData)
      await this.$message('Воронка успешно создана')
      await this.close()
      await this.$emit('dataRefresh')
    }
  },
  mounted() {
    this.modal = M.Modal.init(document.querySelector('.modal'))
  },
  beforeDestroy() {
    if (this.modal && this.modal.destroy) {
      this.modal.destroy
    }
  }
}
</script>

<style scoped>

</style>
