<template>
  <div>
    <table>
      <thead>
      <tr>
        <th>Название</th>
        <th>Цвет</th>
        <th>Действия</th>
      </tr>
      </thead>

      <tbody>
      <tr v-for="(status, index) in statuses" :key="index">
        <td><input class="name-input col s6" style="border: none" v-model="status.name"></td>
        <td>
          <v-select
              class="colored-select"
              v-model="status.color"
              :reduce="c => c.value"
              :options="colors"
              :label="'name'"
              :value="'value'"
              :selected="status.color"
          >
            <template #selected-option="option">
              <span class="border-left" :style="{borderLeftColor: (option.value ? option.value : 'transparent')+'!important'}">
                {{ option.name }}
              </span>
            </template>
            <template #option="option">
              <span class="border-left" :style="{borderLeftColor: option.value +'!important'}">
                {{ option.name }}
              </span>
            </template>
          </v-select>
        </td>
        <td>
          <button class="btn-small btn red" @click="deleteStatus(index)">
            <i class="material-icons">delete_forever</i>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <input class="name-input col s6" style="border: none" v-model="nameInput">
        </td>
        <td>
          <v-select
              class="colored-select"
              v-model="colorInput"
              :options="colors"
              :label="'name'"
              :value="'value'"
          >
            <template #selected-option="option">
              <span class="border-left" :style="{borderLeftColor: (option.value ? option.value : 'transparent')+'!important'}">
                {{ option.name }}
              </span>
            </template>
            <template #option="option">
              <span class="border-left" :style="{borderLeftColor: option.value+'!important'}">
                {{ option.name }}
              </span>
            </template>
          </v-select>
        </td>
        <td>
          <button class="btn-small btn" @click="addStatus">
            <i class="material-icons">plus_one</i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import vSelect from 'vue-select'

export default {
  name: "PipelineStatusesTable",
  components: {vSelect},
  data: () => ({
    colors: [
      {
        name: 'Зеленый', value: '#4db6ac', class: 'teal lighten-2'
      },
      {
        name: 'Оранжевый', value: '#ff9800', class: 'orange'
      },
      {
        name: 'Синий', value: '#00b0ff',  class: 'light-blue accent-3'
      },
      {
        name: 'Красный', value: '#ef5350', class: 'red lighten-1'
      },
      {
        name: 'Фиолетовый', value: '#ba68c8', class: 'purple lighten-2'
      },
      {
        name: 'Желтый', value: '#f4ff81', class: 'lime accent-1'
      },
      {
        name: 'Серый', value: '#9e9e9e', class: 'grey'
      },
    ],
    nameInput: '',
    colorInput: '',
    selects: null
  }),
  props: ['statuses'],
  methods: {
    deleteStatus(index) {
      this.statuses.splice(index, 1)
    },
    async addStatus() {
      await this.statuses.push({name: this.nameInput, color: this.colorInput.value})
      this.nameInput = ''
      this.colorInput = ''
      await document.querySelectorAll('.colored-select input')[this.statuses.length - 1].classList.add('browser-default')
    }
  },
  mounted() {
    document.querySelectorAll('.colored-select input').forEach(i => i.classList.add('browser-default'))
  }
}
</script>

<style>
  .colored-select .vs__search,
  .colored-select .vs__search::placeholder,
  .colored-select .vs__dropdown-toggle,
  .colored-select .vs__dropdown-menu {
    border: none;
    font-size: 16px;
  }
  .colored-select .vs__clear {
    display: none;
  }
  .border-left {
    border-left: black 3px solid;
    padding-left: 1em;
  }
  .colored-select .vs__dropdown-option{
    background: white;
    color: black;
  }
  .colored-select .vs__dropdown-option--highlight {
    background: #cfd8dc;
    color: black;
  }
</style>
