<template>
  <div>
    <button class="btn-small btn" @click="$router.push('/pipelines/' + pipeline.id)">
      <i class="material-icons">open_in_new</i>
    </button>
    <button class="btn-small btn red" @click="deletePipeline(pipeline.id)">
      <i class="material-icons">delete_forever</i>
    </button>
  </div>
</template>

<script>
export default {
  props: {
    pipeline: null
  },
  name: "PipelineTableActions",
  methods: {
    async deletePipeline(id) {
      await this.$store.dispatch('deletePipelineById', id)
      await this.$emit('dataRefresh')
      await this.$message('Воронка успешно удалена')
    }
  }
}
</script>

<style scoped>

</style>
