<template>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Дата создания</th>
      <th>Сделок</th>
      <th>Статусы</th>
      <th>Действия</th>
    </tr>
    </thead>

    <tbody>
    <tr v-for="(pipeline, id) in pipelines" :key="id">
      <td>{{ pipeline.id }}</td>
      <td>{{ pipeline.name }}</td>
      <td>{{ new Date(pipeline.createdAt * 1000) | date('date')  }}</td>
      <td>{{ pipeline.numberOfLeads }}</td>
      <td>{{ pipeline.statuses.map((s) => s.name).join(', ') }}</td>
      <td>
        <button class="btn-small btn" @click="$router.push('/pipelines/' + pipeline.id)">
          <i class="material-icons">open_in_new</i>
        </button>
        <button class="btn-small btn red" @click="deletePipeline(pipeline.id)">
          <i class="material-icons">delete_forever</i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "PipelinesTable",
  props: {
    pipelines: {
      required: true,
      type: Array
    }
  },
  data: () => ({
    queryParams: {
      sortBy: 'id',
      sortDirection: 'asc'
    }
  }),
  methods: {
    async deletePipeline(id) {
      await this.$store.dispatch('deletePipelineById', id)
      await this.$store.commit('deletePipeline', id)
      this.$message('Воронка успешно удалена')
    }
  }
}
</script>

<style scoped>

</style>
