<template>
  <ul v-show="tablePagination && lastPage > firstPage" :class="$_css.wrapperClass">
    <li :class="[$_css.linkClass, isOnFirstPage ? $_css.disabledClass : '']">
      <a @click="loadPage(firstPage)">
        <i :class="[$_css.icons.first]">arrow_back</i>
      </a>
    </li>
    <li :class="[$_css.linkClass, isOnFirstPage ? $_css.disabledClass : '']">
      <a @click="loadPage('prev')">
        <i :class="[$_css.icons.prev]">chevron_left</i>
      </a>
    </li>
    <template v-if="notEnoughPages">
      <template v-for="(n, i) in totalPage">
        <li :key="i" :class="[$_css.pageClass, isCurrentPage(i+firstPage) ? $_css.activeClass : '']">
          <a @click="loadPage(i+firstPage)"
             v-html="n">
          </a>
        </li>
      </template>
    </template>
    <template v-else>
      <template v-for="(n, i) in windowSize">
        <a @click="loadPage(windowStart+i+firstPage-1)" :key="i"
           :class="[$_css.pageClass, isCurrentPage(windowStart+i+firstPage-1) ? $_css.activeClass : '']"
           v-html="windowStart+n-1">
        </a>
      </template>
    </template>
    <li :class="[$_css.linkClass, isOnLastPage ? $_css.disabledClass : '']">
      <a @click="loadPage('next')">
        <i :class="[$_css.icons.next]">chevron_right</i>
      </a>
    </li>
    <li :class="[$_css.linkClass, isOnLastPage ? $_css.disabledClass : '']">
      <a @click="loadPage(lastPage)">
        <i :class="[$_css.icons.last]">arrow_forward</i>
      </a>
    </li>
  </ul>
</template>

<script>
import PaginationMixin from "vuetable-2/src/components/VuetablePaginationMixin";

export default {
  name: "Pagination",
  mixins: [PaginationMixin],
}
</script>

<style scoped>

</style>
