<template>
  <ul class="sidenav app-sidenav" :class="{open: value}">
    <router-link
        v-for="(link, to) in links" :key="to"
        tag="li"
        active-class="active"
        :to=link.to
        :exact="link.exact"
    >
      <a href="#" class="waves-effect waves-orange pointer">{{link.title}}</a>
    </router-link>
  </ul>
</template>

<script>
export default {
  name: "Sidebar",
  props: ['value'],
  data: () => ({
    links: [
      {title: 'Главная', to: '/', exact: true},
      {title: 'Сделки', to: '/leads'},
      {title: 'Воронки', to: '/pipelines'},
      {title: 'Контакты', to: '/contacts'}
    ]
  })
}
</script>

<style scoped>

</style>
