<template>
  <div>
    <div class="page-title">
      <div style="display: flex; width: 100%">
        <h3 style="margin-right: 1em">Сделки</h3>
        <div>
          <v-select
              class="pipeline-select"
              v-model="selectedPipeline"
              :options="pipelines"
              :label="'name'"
              :value="'id'"
              :selected="selectedPipeline"
              :searchable="false"
          >
          </v-select>
        </div>
        <div style="margin-left: 1em" class="row">
          <button class="btn-small white toggle-btn" :class="{'toggle-btn-active': isKanban}" @click="changeView(true)"><i class="material-icons">equalizer</i></button>
          <button class="btn-small white toggle-btn" :class="{'toggle-btn-active': !isKanban}" @click="changeView(false)"><i class="material-icons">view_headline</i></button>
        </div>
        <router-link :to="'/leads-create'">
          <button style="justify-content: flex-end" class="btn-small btn">
            Добавить
          </button>
        </router-link>
      </div>

    </div>

    <Loader v-show="loading" />

    <section v-show="!loading">
      <leads-kanban
          v-if="!loading && isKanban"
          :pipeline="selectedPipeline"
      />
      <leads-table
          v-else-if="!loading && !isKanban"
          :pipeline="selectedPipeline"
      />
    </section>
  </div>
</template>

<script>
import Loader from "@/components/app/Loader"
import vSelect from 'vue-select'
import LeadsTable from "../../components/leads/LeadsTable"
import LeadsKanban from "../../components/leads/LeadsKanban";

export default {
  name: "Leads",
  data: () => ({
    leads: [],
    pipelines: [],
    selectedPipeline: null,
    loading: true,
    isKanban: true
  }),
  async mounted() {
    this.isKanban = this.$store.getters.isKanban
    const res = await this.$store.dispatch('fetchPipelines')
    await this.$store.commit('setPipelines', res.data.items)
    this.pipelines = res.data.items
    if (!this.$store.getters.selectedPipeline) {
      this.$store.commit('setSelectedPipeline', this.pipelines[0])
    }
    this.selectedPipeline = this.$store.getters.selectedPipeline
    document.querySelector('.pipeline-select input').classList.add('browser-default','col', 'sm5', 'input-field')
    this.loading = false
  },
  methods: {
    changeView(state) {
      this.$store.commit('setLeadsView', state)
      this.isKanban = state
    }
  },
  watch: {
    selectedPipeline: function (val) {
      this.$store.commit('setSelectedPipeline', val)
    }
  },
  components: {
    Loader,
    vSelect,
    LeadsTable,
    LeadsKanban
  }
}
</script>

<style>
  .pipeline-select .vs__search {
    border: none;
    font-size: 20px;
  }
  .pipeline-select .vs__dropdown-toggle {
    border: none;
  }
  .pipeline-select .vs__dropdown-menu {
    border: none;
    font-size: 20px;
  }
  .pipeline-select .vs__clear {
    display: none;
  }
  .pipeline-select .vs__selected {
    font-size: 20px;
  }
  .pipeline-select .vs__selected-options {
    font-size: 20px;
    min-width: 13em;
  }
  .colored-select .vs__dropdown-option {
    background: #dde6e7;
    color: #26a69a;
  }
  .pipeline-select .vs__dropdown-option--highlight {
    background: #dde6e7;
    color: #26a69a;
  }
  .toggle-btn {
    color: black;
  }
  .toggle-btn:hover {
    background-color: #f3f3f3 !important;
  }
  .toggle-btn-active {
    background-color: #d9d9d9 !important;
  }
</style>
