<template>
  <div>
    <div class="breadcrumb-wrap">
      <a href="/leads" class="breadcrumb">Сделки</a>
      <a class="breadcrumb">
        Создание
      </a>
    </div>
    <Loader v-show="loading"/>
    <form v-show="!loading" class="form" @submit.prevent="submitHandler">

      <div class="input-field">
        <input
            id="name"
            type="text"
            v-model="name"
            :class="{invalid: ($v.name.$dirty && !$v.name.required)}"
        >
        <label for="name" :class="{active: this.name}">Название</label>
        <small class="helper-text invalid" v-if="$v.name.$dirty && !$v.name.required">Название сделки не должно быть пустым!</small>
      </div>

      <div class="input-field">
        <input
            id="price"
            type="number"
            v-model="price"
            :class="{invalid: ($v.price.$dirty && !$v.price.required)}"
        >
        <label for="price" :class="{active: this.price}">Цена</label>
        <small class="helper-text invalid" v-if="$v.price.$dirty && !$v.price.required">Поле цена не должно быть пустым!</small>
      </div>

      <div class="input-field">
        <input
            id="vendor-code"
            type="text"
            v-model="vendorCode"
        >
        <label for="vendor-code" :class="{active: this.vendorCode}">Артикул</label>
      </div>

      <div class="input-field">
        <v-select
            :options="pipelines"
            v-model="pipeline"
            :label="'name'"
            :value="'id'"
            id="pipeline"
            class="lead-form-select"
        >
          <span slot="no-options">Ничего не найдено.</span>
        </v-select>
        <label for="pipeline" :class="{active: this.pipeline}">Воронка</label>
        <small class="helper-text invalid" v-if="$v.pipeline.$dirty && !$v.pipeline.required">Поле воронка не должно быть пустым!</small>
      </div>

      <div class="input-field">
        <v-select
            :options="statuses"
            v-model="status"
            :label="'name'"
            :value="'id'"
            id="status"
            class="lead-form-select"
        >
          <template #selected-option="option">
              <span class="border-left" :style="{borderLeftColor: (option.color ? option.color : 'transparent')+'!important'}">
                {{ option.name }}
              </span>
          </template>
          <template #option="option">
              <span class="border-left" :style="{borderLeftColor: option.color+'!important'}">
                {{ option.name }}
              </span>
          </template>
          <span slot="no-options">Ничего не найдено.</span>
        </v-select>
        <label for="status" :class="{active: this.status}">Статус</label>
        <small class="helper-text invalid" v-if="$v.status.$dirty && !$v.status.required">Поле статус не должно быть пустым!</small>
      </div>

      <div class="input-field">
        <v-select
            :options="contacts"
            v-model="contact"
            :label="'name'"
            :value="'id'"
            id="contact"
            class="lead-form-select"
        >
          <template #selected-option="option">
            <span>{{ option.phone }}    {{ option.name }}</span>
          </template>
          <template #option="option">
            <span>{{ option.phone }}    {{ option.name }}</span>
          </template>
          <template #no-options="{search}">
            <p>
              <button
                  class="btn-small waves-effect waves-light"
                  @click.prevent="createContact(search)"
              >Создать контакт
              </button>
            </p>
          </template>
        </v-select>
        <label for="contact" :class="{active: this.contact}">Контакт</label>
        <small class="helper-text invalid" v-if="$v.contact.$dirty && !$v.contact.required">Поле контакт не должно быть пустым!</small>
      </div>

      <button class="btn waves-effect waves-light" type="submit">
        Создать
        <i class="material-icons right">send</i>
      </button>
    </form>
    <AddContactModal
        ref="modal"
        @contactCreated="contactCreated"
    />
  </div>
</template>

<script>
import Loader from "@/components/app/Loader";
import {required} from "vuelidate/lib/validators";
import vSelect from "vue-select";
import AddContactModal from "@/components/contacts/AddContactModal";

export default {
  name: "CreateLead",
  data: () => ({
    loading: false,
    name: '',
    price: '',
    vendorCode: '',
    status: null,
    pipeline: null,
    contact: null,
    contacts: [],
    pipelines: [],
    statuses: []
  }),
  validations: {
    name: {required},
    pipeline: {required},
    contact: {required},
    price: {required},
    status: {required}
  },
  async mounted() {
    this.loading = true
    await this.setPipelines()
    await this.setContacts()
    document.querySelectorAll('.lead-form-select input').forEach(s => s.classList.add('browser-default'))
    this.loading = false
  },
  watch: {
    pipeline: function () {
      this.statuses = this.pipeline.statuses ?? []
      this.status = this.statuses[0]
    }
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }

      const formData = {
        name: this.name,
        price: this.price,
        vendorCode: this.vendorCode,
        pipelineId: this.pipeline.id,
        statusId: this.status.id,
        contactId: this.contact.id
      }

      await this.$store.dispatch('createLead', formData)
      await this.$message('Сделка успешно создана')
      await this.$router.push('/leads')
    },
    async setPipelines() {
      this.pipelines = this.$store.getters.pipelines
      if (this.pipelines.length === 0) {
        const res = await this.$store.dispatch('fetchPipelines')
        await this.$store.commit('setPipelines', res.data.items)
        this.pipelines = res.data.items
      }
    },
    async setContacts() {
      this.contacts = this.$store.getters.contacts
      if (this.contacts.length === 0) {
        await this.refreshContacts()
      }
    },
    createContact(value) {
      this.$refs.modal.open(value)
    },
    async refreshContacts() {
      const res = await this.$store.dispatch('fetchContacts')
      await this.$store.commit('setContacts', res.data.items)
      this.contacts = this.$store.getters.contacts
    },
    contactCreated(contact) {
      this.refreshContacts()
      this.contact = contact
    }
  },
  components: {
    Loader,
    vSelect,
    AddContactModal
  }
}
</script>

<style>

.lead-form-select .vs__search {
  border: none;
  background-color: transparent;
  height: 3rem;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0
}
.lead-form-select .vs__search:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}
.lead-form-select .vs__selected-options {
  height: 3rem;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0
}
.lead-form-select .vs__selected {
  margin: 0 0 8px 0;
  padding: 0
}
.lead-form-select .vs__dropdown-menu {
  border: none;
}
.lead-form-select .vs__dropdown-toggle {
  border: none;
}
.lead-form-select .vs__dropdown-option--highlight {
  background: #dde6e7;
  color: #26a69a;
}
.lead-form-select .vs__clear {
  display: none;
}
.lead-form-select .invalid {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #f44336;
}
.border-left {
  border-left: black 3px solid;
  padding-left: 1em;
}

</style>
