<template>
<div>
  <div class="row">
    <div class="input-field col s3">
      <input
          style="padding: 0.1em"
          id="form-name"
          type="text"
          v-model="nameFilter"
          v-on:blur="formFilters.name = nameFilter"
      >
      <label for="form-name" class="active">Название</label>
    </div>
    <div class="input-field col s3">
      <label class="active" for="status-select">Статус</label>
      <v-select
          id="status-select"
          class="status-select"
          v-model="statusFilter"
          :options="pipeline ? pipeline.statuses : []"
          :reduce="s => s.id"
          :label="'name'"
          :value="'id'"
          :searchable="true"
      >
        <template #selected-option="option">
              <span class="border-left" :style="{borderLeftColor: (option.color ? option.color : 'transparent')+'!important'}">
                {{ option.name }}
              </span>
        </template>
        <template #option="option">
              <span class="border-left" :style="{borderLeftColor: option.color+'!important'}">
                {{ option.name }}
              </span>
        </template>
      </v-select>
    </div>
    <div class="input-field col s2" >
      <button class="btn-small btn" @click="clearFilters">
        Сбросить
      </button>
    </div>
  </div>

  <vuetable
      ref="vuetable"
      :api-url="generatedQueryString"
      :fields="fields"
      pagination-path=""
      :query-params="getQueryParams"
      :transform="transform"
      :reactive-api-url="true"
      :no-data-template="'Сделок нет'"
      :sort-order="sortOrder"
      :per-page="5"
      @vuetable:pagination-data="onPaginationData"
      :css="css.table"
  >
    <div slot="actions-slot" slot-scope="props">
      <leads-table-actions :lead="props.rowData" v-on:dataRefresh="refreshTable"/>
    </div>
    <div slot="status-slot" slot-scope="props">
        <span class="border-bottom"
              :style="{borderBottomColor: (props.rowData.status.color ? props.rowData.status.color : 'transparent')+'!important'}"
        >{{props.rowData.status.name}}</span>
    </div>
    <div slot="contact-slot" slot-scope="props">
        <router-link
            tag="span"
            :to="'/contacts/'+props.rowData.contact.id"
        ><a href="#">{{props.rowData.contact.phone}}</a></router-link>
    </div>
  </vuetable>

  <div class="pagination">
    <vuetable-pagination-info
        ref="paginationInfo"
        info-template="Вывод с {from} по {to} из {total} сделок"
        no-data-template=""
    ></vuetable-pagination-info>
    <vuetable-pagination
        ref="pagination"
        :css="css.pagination"
        @vuetable-pagination:change-page="onChangePage"
    >
    </vuetable-pagination>
  </div>
</div>
</template>

<script>
import vuetableCss from "@/utils/vuetableCss"
import tableMixin from "@/mixins/table.mixin"
import VuetablePagination from "../../components/app/Pagination"
import VuetablePaginationInfo from "vuetable-2/src/components/VuetablePaginationInfo"
import dateFilter from '@/filters/date.filter';
import Vuetable from "vuetable-2";
import LeadsTableActions from "./LeadsTableActions"
import vSelect from 'vue-select'

export default {
  props: ['pipeline'],
  name: "LeadsTable",
  data: () => ({
    leads: [],
    nameFilter: '',
    statusFilter: '',
    formFilters: {
      name: '',
    },
    sortOrder: [
      {
        field: "id",
        direction: "asc"
      }
    ],
    fields: [
      {name: 'id', title: 'ID', sortField: 'id'},
      {name: 'name', title: 'Название', sortField: 'name'},
      {name: 'createdAt', formatter: (v) => dateFilter(new Date(v * 1000)), title: 'Дата создания', sortField: 'createdAt'},
      {name: 'price', title: 'Цена', sortField: 'price'},
      {name: 'vendorCode', title: 'Артикул', sortField: 'vendorCode'},
      {name: 'status-slot', title: 'Статус', sortField: 'status'},
      {name: 'contact-slot', title: 'Контакт', sortField: 'contact'},
      {name: 'actions-slot', title: 'Действия'}
    ],
    pipelineQuery: '',
    css: vuetableCss
  }),
  mixins: [tableMixin],
  mounted() {
    document.querySelector('.status-select input').classList.add('browser-default')
  },
  computed: {
    generatedQueryString: function () {
      const query = Object.keys(this.formFilters).map(k => this.formFilters[k] ? k + '=' + this.formFilters[k] : '').join('&')
      return 'http://127.0.0.1:8000/api/leads?'
          + query
          + (this.pipeline ? '&pipelines[]='+this.pipeline.id : '')
          + (this.statusFilter ? '&statuses[]='+this.statusFilter : '')
    }
  },
  methods: {
    clearFilters() {
      this.nameFilter = ''
      this.statusFilter = ''
      Object.keys(this.formFilters).map(f => this.formFilters[f] = '')
    }
  },
  components: {
    VuetablePagination,
    VuetablePaginationInfo,
    Vuetable,
    LeadsTableActions,
    vSelect
  }
}
</script>

<style>
.border-bottom {
  border-bottom: black 3px solid;
}
.status-select .vs__search {
  border: none;
  height: 3rem;
  font-size: 16px;
  padding: 1px 2px;
}
.status-select .vs__dropdown-toggle {
  border: none;
}
.status-select .vs__dropdown-menu {
  border: none;
}
.status-select .vs__clear {
  display: none;
}
.status-select .vs__selected {
  height: 3rem;
  font-size: 16px;
}
.status-select .vs__selected-options {
  border-bottom: 1px solid #9e9e9e;
  font-size: 16px;
}
.status-select .vs__dropdown-option {
  background: white;
  color: black;
}
.status-select .vs__dropdown-option--highlight {
  background: #dde6e7;
  color: black;
}
.border-left {
  border-left: black 3px solid;
  padding-left: 1em;
}
</style>
