<template>
  <div class="flex justify-center">
    <Loader v-show="loading" />
    <div v-show="!loading" class="row">
      <div
          v-for="status in columns"
          :key="status.status.id"
          class="col s3"
      >
        <div
            class="border-top lead-column"
            :style="{borderTopColor: status.status.color}"
            style="padding: 1em"
        >
          <h5 style="align-content: center">{{status.status.name}}</h5>
          <draggable :list="status.leads" :animation="200" ghost-class="ghost-card" group="leads" @change="changeHandler(status, $event)">
            <lead-kanban-card
                v-for="(lead) in status.leads"
                :key="lead.id"
                :lead="lead"
                class="cursor"
            ></lead-kanban-card>
          </draggable>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LeadKanbanCard from "@/components/leads/LeadKanbanCard";
import draggable from "vuedraggable";
import Loader from "@/components/app/Loader"
export default {
  props: ['pipeline'],
  name: "LeadsKanban",
  data: () => ({
    leads: [],
    columns: [],
    loading: true
  }),
  mounted () {
    if (this.pipeline) {
      this.getLeads(this.pipeline)
    }
  },
  watch: {
    pipeline: function (pipeline) {
      this.getLeads(pipeline)
    }
  },
  methods: {
    async changeHandler(el, $event) {
      if ($event.added) {
        await this.$store.dispatch('patchLeadById', {id: $event.added.element.id, statusId: el.status.id})
        await this.$message('Сделка успешно обновлена')
      }
    },
    async getLeads(pipeline) {
      this.loading = true
      const res = await this.$store.dispatch('fetchLeads', {pipelines: [pipeline.id]})
      this.leads = res.data.items
      this.columns = pipeline.statuses.map(s => ({status: s, leads: this.leads.filter(l => l.status.id === s.id)}))
      this.loading = false
    }
  },
  components: {LeadKanbanCard, draggable, Loader}
}
</script>

<style>
.border-top {
  border-top: transparent 3px solid;
  border-radius: 1em;
}
.lead-column {
  background-color: #f3f3f3
}
</style>
