<template>
  <div>
    <button class="btn-small btn" @click="$router.push('/leads/' + lead.id)">
      <i class="material-icons">open_in_new</i>
    </button>
    <button class="btn-small btn red" @click="deleteLead(lead.id)">
      <i class="material-icons">delete_forever</i>
    </button>
  </div>
</template>

<script>
export default {
  props: {
    lead: null
  },
  name: "LeadsTableActions",
   methods: {
     async deleteLead(id) {
       await this.$store.dispatch('deleteLeadById', id)
       await this.$emit('dataRefresh')
       await this.$message('Сделка успешно удалена')
     }
   }
}
</script>

<style scoped>

</style>
