<template>
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{lead.name}}</span>
      <p v-if="lead.price">Стоимость: {{lead.price}}</p>
    </div>
    <div class="card-action">
      <router-link tag="a" :to="'/leads/'+lead.id">Редактировать</router-link>
      <router-link tag="a" :to="'/contacts/'+lead.contact.id">{{lead.contact.phone}}</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "LeadKanbanCard",
  props: ['lead']
}
</script>

<style scoped>

</style>
