<template>
  <div>
    <div class="page-title">
      <h3>Контакты</h3>
      <button class="btn-small btn" v-on:dataRefresh="refreshTable" @click="$refs.modal.open('')">
        Создать
      </button>
    </div>

    <Loader v-if="loading" />

    <section v-else>
      <div class="row">
        <div class="input-field col s2">
          <input
              id="form-name"
              type="text"
              v-model="nameFilter"
              v-on:blur="formFilters.name = nameFilter"
          >
          <label for="form-name">ФИО</label>
        </div>
        <div class="input-field col s2">
          <input
              id="email-filter"
              type="text"
              v-model="emailFilter"
              v-on:blur="formFilters.email = emailFilter"
          >
          <label for="email-filter">Email</label>
        </div>
        <div class="input-field col s2" >
          <masked-input
              id="phone-filter"
              v-model="phoneFilter"
              mask="\+1 (111) 111-1111"
              @blur.native="changePhoneFilterValue"
              type="tel"
          />
          <label for="phone-filter">Номер телефона</label>
        </div>
        <div class="input-field col s2" >
          <button class="btn-small btn" @click="clearFilters">
            Сбросить
          </button>
        </div>
      </div>


      <vuetable
          ref="vuetable"
          :api-url="generatedQueryString"
          :fields="fields"
          pagination-path=""
          :query-params="getQueryParams"
          :transform="transform"
          :reactive-api-url="true"
          :no-data-template="'Контактов нет'"
          :sort-order="sortOrder"
          :per-page="5"
          @vuetable:pagination-data="onPaginationData"
          :css="css.table"
      >
        <div slot="actions-slot" slot-scope="props">
          <contact-table-actions :contact="props.rowData" v-on:dataRefresh="refreshTable"/>
        </div>
      </vuetable>

      <div class="pagination">
        <vuetable-pagination-info
            ref="paginationInfo"
            info-template="Вывод с {from} по {to} из {total} контактов"
            no-data-template=""
        ></vuetable-pagination-info>
        <vuetable-pagination
            ref="pagination"
            :css="css.pagination"
            @vuetable-pagination:change-page="onChangePage"
        >
        </vuetable-pagination>
      </div>

    </section>
    <AddContactModal ref="modal" />
  </div>
</template>

<script>
import AddContactModal from "@/components/contacts/AddContactModal";
import Loader from "@/components/app/Loader";
import ContactTableActions from "@/components/contacts/ContactTableActions";
import vuetableCss from "@/utils/vuetableCss";
import dateFilter from '@/filters/date.filter';
import tableMixin from "@/mixins/table.mixin"
import VuetablePagination from "../../components/app/Pagination"
import VuetablePaginationInfo from "vuetable-2/src/components/VuetablePaginationInfo"
import Vuetable from "vuetable-2";
import maskedInput from "vue-masked-input";

export default {
  name: "Contacts",
  data: () => ({
    loading: false,
    nameFilter: '',
    phoneFilter: '',
    emailFilter: '',
    formFilters: {
      name: '',
      phone: '',
      email: ''
    },
    sortOrder: [
      {
        field: "id",
        direction: "asc"
      }
    ],
    fields: [
      {name: 'id', title: 'ID', sortField: 'id'},
      {name: 'name', title: 'ФИО', sortField: 'name'},
      {name: 'createdAt', formatter: (v) => dateFilter(new Date(v * 1000)), title: 'Дата создания', sortField: 'createdAt'},
      {name: 'email', title: 'Email', sortField: 'email'},
      {name: 'phone', title: 'Номер телефона', sortField: 'phone'},
      {name: 'position', title: 'Должность', sortField: 'position'},
      {name: 'numberOfLeads', title: 'Сделок', sortField: 'numberOfLeads'},
      {name: 'actions-slot', title: 'Действия'}
    ],
    contacts: [],
    css: vuetableCss
  }),
  computed: {
    generatedQueryString: function () {
      const query = Object.keys(this.formFilters).map(k => this.formFilters[k] ? k+'='+this.formFilters[k] : '').join('&')
      return 'http://127.0.0.1:8000/api/contacts?' + query
    }
  },
  methods: {
    changePhoneFilterValue() {
      this.formFilters.phone = this.phoneFilter.replace(/[+()\s-]/g, '')
    },
    clearFilters() {
      this.nameFilter = ''
      this.phoneFilter = ''
      this.emailFilter = ''
      Object.keys(this.formFilters).map(f => this.formFilters[f] = '')
    }
  },
  components: {
    AddContactModal,
    Loader,
    ContactTableActions,
    VuetablePagination,
    VuetablePaginationInfo,
    Vuetable,
    maskedInput
  },
  mixins: [tableMixin],
  filters: {dateFilter}
}
</script>

<style scoped>

</style>
