<template>
  <div>
    <div class="breadcrumb-wrap">
      <a href="/contacts" class="breadcrumb">Контакты</a>
      <a class="breadcrumb">
        Просмотр
      </a>
    </div>
    <Loader v-if="loading" />
    <form v-else-if="!loading" class="form" @submit.prevent="submitHandler">
      <div class="input-field">
        <input
            id="name"
            type="text"
            v-model="contact.name"
            :class="{invalid: ($v.contact.name.$dirty && !$v.contact.name.required)}"
        >
        <label for="name" :class="{active: this.contact.name}">ФИО</label>
        <small class="helper-text invalid" v-if="$v.contact.name.$dirty && !$v.contact.name.required">ФИО не должно быть пустым!</small>
      </div>

      <div class="input-field">
        <input
            id="email"
            type="text"
            v-model="contact.email"
            :class="{invalid: ($v.contact.email.$dirty && !$v.contact.email.required || ($v.contact.email.$dirty && !$v.contact.email.email))}"
        >
        <label for="email" :class="{active: this.contact.email}">Email</label>
        <small class="helper-text invalid" v-if="$v.contact.email.$dirty && !$v.contact.email.required">Поле Email не должно быть пустым!</small>
        <small class="helper-text invalid" v-if="$v.contact.email.$dirty && !$v.contact.email.email">Введен некорректый email!</small>
      </div>

      <div class="input-field">
        <masked-input
            id="phone"
            v-model="contact.phone"
            mask="\+1 (111) 111-1111"
            type="tel"
            :class="{invalid: $v.contact.email.$dirty && !$v.contact.email.required}"
        />
        <label for="phone" :class="{active: this.contact.phone}">Номер телефона</label>
        <small class="helper-text invalid" v-if="$v.contact.phone.$dirty && !$v.contact.phone.required">Поле Номер телефона не должно быть пустым!</small>
      </div>

      <div class="input-field">
        <input
            id="position"
            type="text"
            v-model="contact.position"
            :class="{invalid: ($v.contact.position.$dirty && !$v.contact.position.required)}"
        >
        <label for="name" :class="{active: this.contact.position}">Должность</label>
        <small class="helper-text invalid" v-if="$v.contact.position.$dirty && !$v.contact.position.required">Поле Должность не должно быть пустым!</small>
      </div>

      <button class="btn waves-effect waves-light" type="submit">
        Сохранить
        <i class="material-icons right">send</i>
      </button>
    </form>
    <p v-else-if="!contact" class="center">Такого контакта нет</p>
  </div>
</template>

<script>
import Loader from "@/components/app/Loader";
import {required, email} from "vuelidate/lib/validators";
import maskedInput from "vue-masked-input";

export default {
  name: "ContactDetail",
  components: {Loader, maskedInput},
  data:() => ({
    contact: null,
    loading: true
  }),
  validations: {
    contact: {
      name: {
        required
      },
      email: {
        required,
        email
      },
      phone: {
        required
      },
      position: {
        required
      }
    }
  },
  async mounted() {
    const res = await this.$store.dispatch('fetchContactById', this.$route.params.id)
    this.contact = res.data

    this.loading = false
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      const formData = {
        id: this.contact.id,
        name: this.contact.name,
        email: this.contact.email,
        phone: this.contact.phone.replace(/[+()\s-]/g, ''),
        position: this.contact.position
      }

      await this.$store.dispatch('patchContactById', formData)
      await this.$message('Контакт успешно обновлен')
      await this.$router.push('/contacts')
    }
  }
}
</script>

<style scoped>

</style>
