<template>
  <div>
    <div class="breadcrumb-wrap">
      <a href="/pipelines" class="breadcrumb">Воронки</a>
      <a class="breadcrumb">
        Просмотр
      </a>
    </div>
    <Loader v-if="loading" />
      <div v-else-if="!loading">
        <div class="row">
          <form class="col s4" @submit.prevent="submitHandler">
            <h4>Редактировать</h4>
            <div class="input-field">
              <input
                  id="name"
                  type="text"
                  v-model="pipeline.name"
                  :class="{invalid: ($v.pipeline.name.$dirty && !$v.pipeline.name.required)}"
              >
              <label for="name" :class="{active: this.pipeline.name}">Название</label>
              <small class="helper-text invalid" v-if="$v.pipeline.name.$dirty && !$v.pipeline.name.required">Название не должно быть пустым!</small>
            </div>

            <div class="input-field">
              <input
                  id="description"
                  type="text"
                  v-model="pipeline.description"
                  :class="{invalid: ($v.pipeline.description.$dirty && !$v.pipeline.description.required), active: this.pipeline.description}"
              >
              <label for="description" :class="{active: this.pipeline.description}">Описание</label>
              <small class="helper-text invalid" v-if="$v.pipeline.description.$dirty && !$v.pipeline.description.required">Описание не должно быть пустым!</small>
            </div>

            <button class="btn waves-effect waves-light" type="submit">
              Сохранить
              <i class="material-icons right">send</i>
            </button>
          </form>

          <div class="col s7">
            <h4>Статусы</h4>
            <pipeline-statuses-table
                :statuses="pipeline.statuses"
            />
          </div>
        </div>
    </div>
    <p v-else-if="!pipeline" class="center">Такой воронки нет</p>
  </div>
</template>

<script>
import Loader from "@/components/app/Loader"
import {required} from 'vuelidate/lib/validators'
import PipelineStatusesTable from "../../components/pipelines/PipelineStatusesTable";

export default {
  name: "PipelineDetail",
  components: {Loader, PipelineStatusesTable},
  data:() => ({
    pipeline: null,
    loading: true
  }),
  validations: {
    pipeline: {
      name: {
        required
      },
      description: {
        required
      }
    }
  },
  async mounted() {
    const res = await this.$store.dispatch('fetchPipelineById', this.$route.params.id)
    this.pipeline = res.data

    this.loading = false
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      const formData = {
        id: this.pipeline.id,
        name: this.pipeline.name,
        description: this.pipeline.description,
        statuses: this.pipeline.statuses.map((s) => (
            s.id ? {id: s.id, name: s.name, color: s.color} : {name: s.name, color: s.color})
        )
      }

      await this.$store.dispatch('patchPipelineById', formData)
      await this.$message('Воронка успешно обновлена')
      await this.$router.push('/pipelines')
    }
  }
}
</script>

<style scoped>

</style>
