<template>
  <div>
    <div class="page-title">
      <h3>Воронки</h3>
      <button class="btn-small btn" v-on:dataRefresh="refreshTable" @click="$refs.modal.open()">
        Добавить
      </button>
    </div>

    <Loader v-show="loading" />

    <section v-show="!loading">

      <div class="row">
        <div class="input-field col s5">
          <input
              id="form-name"
              type="text"
              v-model="nameFilter"
              v-on:blur="formFilters.name = nameFilter"
          >
          <label for="form-name">Название</label>
        </div>
      </div>

      <vuetable
            ref="vuetable"
            :api-url="generatedQueryString"
            :fields="fields"
            pagination-path=""
            :query-params="getQueryParams"
            :transform="transform"
            :reactive-api-url="true"
            :no-data-template="'Воронок нет'"
            :sort-order="sortOrder"
            :per-page="5"
            @vuetable:pagination-data="onPaginationData"
            :css="css.table"
      >
          <div slot="actions-slot" slot-scope="props">
            <pipeline-table-actions :pipeline="props.rowData" v-on:dataRefresh="refreshTable"/>
          </div>
          <div slot="statuses-slot" slot-scope="props">
            <span style="margin-right: 1em" v-for="(status, index) in props.rowData.statuses" :key="index">
              <span class="border-bottom"
                    :style="{borderBottomColor: (status.color ? status.color : 'transparent')+'!important'}"
              >{{status.name}}</span>
            </span>
          </div>
      </vuetable>

      <div class="pagination">
        <vuetable-pagination-info
            ref="paginationInfo"
            info-template="Вывод с {from} по {to} из {total} воронок"
            no-data-template=""
        ></vuetable-pagination-info>
        <vuetable-pagination
            ref="pagination"
            :css="css.pagination"
            @vuetable-pagination:change-page="onChangePage"
        >
        </vuetable-pagination>
      </div>
    </section>
    <AddPipelineModal ref="modal" />
  </div>
</template>

<script>
import Loader from "@/components/app/Loader"
import AddPipelineModal from "@/components/pipelines/AddPipelineModal"
import Vuetable from "vuetable-2";
import dateFilter from '@/filters/date.filter'
import VuetablePagination from "../../components/app/Pagination"
import VuetablePaginationInfo from "vuetable-2/src/components/VuetablePaginationInfo"
import vuetableCss from "@/utils/vuetableCss"
import PipelineTableActions from "@/components/pipelines/PipelineTableActions"
import tableMixin from "@/mixins/table.mixin"

export default {
  name: "Pipelines",
  data: () => ({
    loading: false,
    nameFilter: '',
    formFilters: {
      name: ''
    },
    sortOrder: [
      {
        field: "id",
        direction: "asc"
      }
    ],
    fields: [
      {name: 'id', title: 'ID', sortField: 'id'},
      {name: 'name', title: 'Название', sortField: 'name'},
      {name: 'createdAt', formatter: (v) => dateFilter(new Date(v * 1000)), title: 'Дата создания', sortField: 'createdAt'},
      {name: 'numberOfLeads', title: 'Сделок', sortField: 'numberOfLeads'},
      {name: 'statuses-slot', title: 'Статусы'},
      {name: 'actions-slot', title: 'Действия'}
    ],
    pipelines: [],
    css: vuetableCss
  }),
  computed: {
    generatedQueryString: function () {
      const query = Object.keys(this.formFilters).map(k => this.formFilters[k] ? k+'='+this.formFilters[k] : '').join('&')
      return 'http://127.0.0.1:8000/api/pipelines?' + query
    }
  },
  components: {
    PipelineTableActions,
    AddPipelineModal,
    Loader,
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo
  },
  mixins: [tableMixin],
  filters: {dateFilter}
}
</script>
<style>
.vuetable-head-wrapper table.vuetable th.sortable {
  cursor: pointer
}
.border-bottom {
  border-bottom: black 3px solid;
}
</style>

