<template>
  <div class="modal" style="width: 28%">
    <div class="modal-content">
      <h4>Создание контакта</h4>
      <form class="form col s12 offset-s1" @submit.prevent="submitHandler">
        <div class="input-field">
          <input
              id="name"
              type="text"
              v-model="contact.name"
              :class="{invalid: ($v.contact.name.$dirty && !$v.contact.name.required)}"
          >
          <label for="name" :class="{active: this.contact.name}">ФИО</label>
          <small class="helper-text invalid" v-if="$v.contact.name.$dirty && !$v.contact.name.required">ФИО не должно быть пустым!</small>
        </div>

        <div class="input-field">
          <input
              id="email"
              type="text"
              v-model="contact.email"
              :class="{invalid: ($v.contact.email.$dirty && !$v.contact.email.required || ($v.contact.email.$dirty && !$v.contact.email.email))}"
          >
          <label for="email" :class="{active: this.contact.email}">Email</label>
          <small class="helper-text invalid" v-if="$v.contact.email.$dirty && !$v.contact.email.required">Поле Email не должно быть пустым!</small>
          <small class="helper-text invalid" v-if="$v.contact.email.$dirty && !$v.contact.email.email">Введен некорректый email!</small>
        </div>

        <div class="input-field">
          <masked-input
              id="phone"
              v-model="contact.phone"
              mask="\+1 (111) 111-1111"
              type="tel"
              :class="{invalid: $v.contact.email.$dirty && !$v.contact.email.required}"
          />
          <label for="phone" :class="{active: this.contact.phone}">Номер телефона</label>
          <small class="helper-text invalid" v-if="$v.contact.phone.$dirty && !$v.contact.phone.required">Поле Номер телефона не должно быть пустым!</small>
        </div>

        <div class="input-field">
          <input
              id="position"
              type="text"
              v-model="contact.position"
              :class="{invalid: ($v.contact.position.$dirty && !$v.contact.position.required)}"
          >
          <label for="position" :class="{active: this.contact.position}">Должность</label>
          <small class="helper-text invalid" v-if="$v.contact.position.$dirty && !$v.contact.position.required">Поле Должность не должно быть пустым!</small>
        </div>

        <button class="btn waves-effect waves-light" type="submit">
          Сохранить
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import M from 'materialize-css/dist/js/materialize.min'
import {email, required} from "vuelidate/lib/validators";
import maskedInput from "vue-masked-input";

export default {
  name: "AddContactModal",
  components: {maskedInput},
  data: () => ({
    modal: null,
    contact: {
      name: '',
      email: '',
      phone: '',
      position: ''
    },
  }),
  validations: {
    contact: {
      name: {
        required
      },
      email: {
        required,
        email
      },
      phone: {
        required
      },
      position: {
        required
      }
    }
  },
  methods: {
    open(phone) {
      this.contact.phone = phone
      this.modal.open()
    },
    close() {
      this.contact.name = ''
      this.contact.email = ''
      this.contact.phone = ''
      this.contact.position = ''
      this.$v.$touch()
      this.modal.close()
    },
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      const formData = {
        name: this.contact.name,
        email: this.contact.email,
        phone: this.contact.phone.replace(/[+()\s-]/g, ''),
        position: this.contact.position
      }

      const res = await this.$store.dispatch('createContact', formData)
      await this.$message('Контакт успешно создан')
      await this.$emit('dataRefresh')
      await this.$emit('contactCreated', res.data)
      await this.close()
    }
  },
  mounted() {
    this.modal = M.Modal.init(document.querySelector('.modal'))
  },
  beforeDestroy() {
    if (this.modal && this.modal.destroy) {
      this.modal.destroy
    }
  }
}
</script>

<style scoped>

</style>
