<template>
  <div>
    <button class="btn-small btn" @click="$router.push('/contacts/' + contact.id)">
      <i class="material-icons">open_in_new</i>
    </button>
    <button class="btn-small btn red" @click="deleteContact(contact.id)">
      <i class="material-icons">delete_forever</i>
    </button>
  </div>
</template>

<script>
export default {
  name: "ContactTableActions",
  props: {
    contact: null
  },
  methods: {
    async deleteContact(id) {
      await this.$store.dispatch('deleteContactById', id)
      await this.$emit('dataRefresh')
      await this.$message('Контакт успешно удален')
    }
  }
}
</script>

<style scoped>

</style>
