<template>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>ФИО</th>
      <th>Дата создания</th>
      <th>Email</th>
      <th>Номер телефона</th>
      <th>Должность</th>
      <th>Сделок</th>
      <th>Действия</th>
    </tr>
    </thead>

    <tbody>
    <tr v-for="(contact, id) in contacts" :key="id">
      <td>{{ contact.id }}</td>
      <td>{{ contact.name }}</td>
      <td>{{ new Date(contact.createdAt * 1000) | date('date')  }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.phone }}</td>
      <td>{{ contact.position }}</td>
      <td>{{ contact.numberOfLeads }}</td>
      <td>
        <button class="btn-small btn" @click="$router.push('/contacts/' + contact.id)">
          <i class="material-icons">open_in_new</i>
        </button>
        <button class="btn-small btn red" @click="deleteContact(contact.id)">
          <i class="material-icons">delete_forever</i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "ContactsTable",
  props: {
    contacts: {
      required: true,
      type: Array
    }
  },
  methods: {
    async deleteContact(id) {
      await this.$store.dispatch('deleteContactById', id)
      await this.$store.commit('deleteContact', id)
      this.$message('Контакт успешно удален')
    }
  }
}
</script>

<style scoped>

</style>
